.heading{
    display: flex;
    align-items: center;
}
.heading a{
    color: var(--font-color);
}

.back{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-bg);
    border-radius: 50%;
}

@media screen and (max-width:820px){
    .back{
        background-color: var(--main-bg);
    }
}