.content{
    width: min(100%, 480px);
    margin: 2em auto;
    text-align: center;
}
.info{
    margin: 2em 0;
}
.info h1{
    font-family: var(--font-2);
}
.info p{
    font-size: small;
    color: var(--font-color-light);
}
.back{
    background-color: var(--main-bg);
    padding: .5em 1em;
    border-radius: .5em;
    cursor: pointer;
    font-size: small;
    color: var(--font-color);
}
.container{
    min-height: calc(100dvh - 70px);
}